#First{
    background-image: url("../image/varieties/order-now.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(37, 37, 32, 0.418);
    height: 100%;
    width: 100%;
    position: relative;
}
.navbar-brand{
  margin-right: 20%;
  text-align: center;
  color: white;
}
